.attribution {
  font-size: 11px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  padding: 5px;
}

.attribution a:hover {
  text-decoration: none;
  background-color: var(--White);
  border-radius: 10px;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

html {
  background-color: var(--Light-gray);
  font-size: 15px;
}

body {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* align-content: center;  */
}
.container {
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  background-color: white;
  width: 250px;
  height: 350px;
  justify-self: center;
  align-self: center;
}

.container img {
  border-radius: 20px;
  width: 200px;
}

.container h1 {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
}

.container p {
  font-family: "Outfit", sans-serif;
}
